/* SpidermanAnimation CSS*/

#spiderman-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spiderman-container .spiderman {
    width: 150px;
    vertical-align: top;
    margin-top: 30px;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .shadow {
    width: 100px;
    height: 10px;
    margin: 10px 0;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: shadow 3s alternate infinite;
  }
  
  @keyframes anime {
    from {
      transform: translateY(-100px);
    }
  
    to {
      transform: translateY(0px);
    }
  }
  
  @keyframes shadow {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.6);
      opacity: 0.2;
    }
  }

