.grid-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  
  .grid-page-item {
      flex-basis: 25%;

  }
.favorite-icon {
    float: right;
}
  
  @media (max-width: 1024px) {
      .grid-page-item {
          flex-basis: 50%;
      }
    }
  
  @media (max-width: 480px) {
      .grid-page-item {
          flex-basis: auto;
      }
  }