.grid-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 25px;
  padding-bottom: 50px;
}

.grid-page-item {
  flex-basis: 21%;
  flex-grow: 0;
}
.favorite-icon {
  float: right;
}
.loading {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
  
@media (max-width: 1024px) {
  .grid-page-item {
    flex-basis: 40%;
  }
}

@media (max-width: 480px) {
  .grid-page-item {
    flex-basis: 80%;
  }
}

.searchbar-positioning {
  margin-bottom: 40px;
}
.searchbar-positioning * {
  margin-left: auto;
  margin-right: auto;
}