.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
} 
.app-header, .app-header ul {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  list-style-type: none;
  padding: 0px;
}

.app-logo {
  position: absolute;
  left: 5vh;
  top: calc(10px + 2vmin);
}
.app-logo a img {
  width: 60px;
  height: 60px;
  filter: invert(1);
}

.app-header  ul  li {
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}
a:hover {
  transition: 500ms;
  opacity: 1;
}
.selected-link {
  opacity: 1;
}

.App-link {
  color: #61dafb;
}